.iga {
  padding: 160px 0 0 0;

  @include d(1280) {
    padding: 120px 0 0 0;
  }

  @include d(992) {
    padding: 80px 0 0 0;
  }

  &__img {
    margin-top: 64px;
  }

  .section__col {
    &:first-child {
      @include d(992) {
        padding: 0 15px;
      }
    }

    &:last-child {
      @include d(992) {
        order: 1;
        padding: 0;
      }
    }
  }
}