.form {
  &-sign-up {
    margin: 35px 0;
    max-width: 528px;

    @include d(992) {
      max-width: 100%;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    h5 {
      margin-bottom: 0;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -8px;
    flex-wrap: wrap;
  }

  &__col {
    padding: 0 8px;
    flex: 0 0 50%;
    max-width: 50%;

    @include d(768) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &__box {
    // max-width: 256px;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 4px;
  }

  &-label {
    width: 100%;
  }

  &-input {
    width: 100%;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    color: #33475b;
    border: 1px solid #cbd6e2;
    background-color: #f5f8fa;
    transition: border-color $hover-duration $timing;

    &.error {
      border-color: $primary;
    }
  }

  &-file {
    border-radius: 8px;
    border: 1px dashed $primary;
    position: relative;
    height: 50px;
    width: 100%;
    cursor: pointer;

    &:has(input:focus) {
      border-color: $blueDark;
    }

    .msg-error {
      bottom: -16px;
    }

    label {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: $primary;
      font-size: 14px;
      font-weight: 800;

      svg {
        margin-right: 25px;
      }
    }

    input {
      background-color: transparent;
      border: none;
      color: transparent;
      width: 0;
      height: 0;
      padding: 0;
    }
  }

  &__btns {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;

    &_end {
      justify-content: flex-end;
    }

    &_justify {
      justify-content: space-between;
    }

    &_text {
      @include d(575) {
        flex-wrap: wrap;
      }
    }
  }

  &-footer {
    margin-left: 32px;
    max-width: 340px;

    @include d(575) {
      margin-left: 0;
      margin-top: 20px;
      max-width: 100%;
      flex: 0 0 100%;
    }

    p {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.2;
      color: $primary;
      margin-bottom: 0;
    }

    span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 10px;
      line-height: 1.6em;
    }
  }
}

.msg-error {
  position: absolute;
  left: 5px;
  font-size: 12px;
  color: tomato;
  bottom: -3px;
}

textarea.form-input {
  min-height: 160px;
}

.subscribe-form {
  margin-top: 40px;

  &__row {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 13px;

    @include d(768) {
      flex-direction: column;
    }

    .btn {
      @include d(768) {
        justify-content: center;
      }
    }
  }

  label {
    margin-right: 24px;
    width: 100%;

    @include d(768) {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}

.step-form {
  display: none;

  &.active {
    display: block;
  }
}

.form-template {
  margin-top: 16px;
  padding-top: 32px;

  &:not(:first-child) {
    border-top: 1px solid rgba($blue, .4);
    // display: none;
  }

  &>p {
    margin-bottom: 10px !important;
  }

  &.visible {
    display: block;
  }

  &.hidden {
    display: none;
  }
}

.form-remove {
  width: 20px;
  height: 20px;
  position: relative;
  border: 2px solid $primary;
  border-radius: 50%;

  &::before {
    content: "";
    width: 10px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary;
  }
}

.form__remove_btn {
  text-align: right;
}

.form-arrow-btn {
  position: relative;

  .wpcf7-submit {
    background-color: transparent;
    color: #fff;
    padding: 0;
    border: none;
    font-weight: 800;
    font-size: 14px;
    line-height: 1em;
  }
}

.wpcf7 form .wpcf7-response-output {
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 12px;
  color: tomato;
  position: absolute;
  bottom: -20px;

}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  border-color: transparent;
}

.contact-form__content {
  position: relative;
}

.wpcf7-spinner {
  margin: 13px;
  background-color: $primary
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  border-color: transparent;
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: transparent;
  color: #1d751d;
}