.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 4px;
  text-transform: uppercase;
  color: $white;
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  margin-bottom: 8px;
  white-space: nowrap;
  &:not(:last-child) {
    margin-right: 8px;
  }

  &_primary {
    background-color: $primary;
  }

  &_dark {
    background-color: $blueDark;
  }

  &_white {
    background-color: $white;
    color: $blueDark;
  }
}