.analytics-articles {
  border-radius: 0 0 32px 32px;
  color: $white;
  padding-bottom: 115px;

  @include d(992) {
    padding-bottom: 80px;
    border-radius: 0 0 16px 16px;
  }

  &__title {
    margin-bottom: 74px;

    @include d(992) {
      margin-bottom: 40px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @include d(1024) {
      // margin: 0 -10px;
    }
  }

  &__col {
    padding: 0 15px;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 24px;

    @include d(1024) {
      // padding: 0 10px;
    }

    @include d(768) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}