.choice {
  &__title {
    text-align: center;
    margin-bottom: 70px;

    @include d(992) {
      margin-bottom: 40px;
    }
  }

  &__col {
    flex: 2;
    padding: 0 15px;
    transition: flex $duration ease;
    overflow: hidden;
    height: 528px;

    @include d(1280) {
      // padding: 0 10px;
    }

    @include rh(1024) {
      &:hover {
        flex: 3;
      }
    }

    @include d(992) {
      flex: 0 0 100%;
      padding: 0;

      &:first-child {
        margin-bottom: 80px;
      }
    }
  }

  &__img {
    position: relative;
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__item {
    position: absolute;
    left: 48px;
    bottom: 53px;
    color: $white;

    p {
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.2em;
    }

  }
}