.hero {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	border-radius: 0 0 32px 32px;
	padding: 203px 0 57px 0;
	overflow: hidden;
	position: relative;
	min-height: 700px;
	color: $textColorLight;
	@include d(992) {
		min-height: auto;
		border-radius: 0 0 16px 16px;
	}

	&__inner {
		.subtitle {
			color: $white;
		}
	}

	&_sm {
		min-height: 550px;

		@include d(992) {
			min-height: auto;
		}
		.hero__content {
			p {
				color: $white;
			}
		}
	}

	@include d(992) {
		padding: 160px 0 120px;
	}

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		background: linear-gradient(
			80.6deg,
			#1b2035 -4.07%,
			rgba(27, 32, 53, 0) 116.2%
		);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	&__content {
		position: relative;
		max-width: 1230px;

		p {
			color: $textColorLight;
			max-width: 660px;
		}
	}

	&__row {
		position: relative;
		display: flex;
		border-top: 1px solid $gray;
		margin-top: 117px;
		flex-wrap: wrap;

		@include d(768) {
			margin-top: 80px;
		}
	}

	&__box {
		flex: 0 0 33.333%;
		max-width: 33.333%;
		padding: 32px 0 0 0;
		font-size: 16px;

		@include d(768) {
			flex: 0 0 50%;
			max-width: 50%;
		}

		@include d(576) {
			flex: 0 0 100%;
			max-width: 100%;
		}

		p {
			line-height: 1.6em;
			margin-bottom: 4px;
			color: $textColorLight;
		}

		h4 {
			color: $white;
		}
	}
	&-video {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(#000, 0.5);
			background: linear-gradient(
				80.6deg,
				#1b2035 -4.07%,
				rgba(27, 32, 53, 0) 116.2%
			);
		}
	}
}

.subtitle {
	color: $primary;
	font-weight: 500;
}
