.investor {
  color: $white;
  padding-bottom: 0;

  @include d(1280) {
    padding-bottom: 0;
  }

  @include d(992) {
    padding-bottom: 0;
  }

  &__content {
    max-width: 530px;
    margin-left: 0;

    @include d(1280) {
      margin-left: 0;
    }

    @include d(992) {
      margin-bottom: 40px;
    }
  }

  .section__col {
    &:first-child {
      order: 0;
      padding: 0 15px;
    }

    &:last-child {
      padding: 0;
    }
  }
}

.sportlist {
  @include d(992) {
    padding-bottom: 0;
  }

  &__content {
    max-width: 530px;
  }
}


.panoramic {
  padding-top: 0;
  border-radius: 0 0 32px 32px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  color: $white;

  @include d(1280) {
    padding-top: 0;
  }

  @include d(992) {
    padding: 0;
    border-radius: 0;
  }

  &__img {
    @include d(992) {
      margin: 0 -15px;
    }
  }
}

.article {
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px 65px -15px;

    @include d(1024) {
      margin: 0 -10px 60px -10px;
    }
  }

  &__subtitle {
    padding: 0 15px;

    @include d(1280) {
      padding: 0 10px;
    }
  }

  &__content {
    padding: 0 15px;
    max-width: 864px;

    @include d(1280) {
      padding: 0 10px;
      max-width: 100%;
    }
  }

  &__double {
    column-count: 2;
    column-gap: 30px;
    margin-top: 24px;

    p {
      margin-bottom: 24px;
    }

    @include d(992) {
      column-count: 1;
    }
  }

  &__img {
    @include d(992) {
      margin: 0 -15px;
    }
  }
}