.user-link {
  display: inline-flex;
  align-items: center;
  color: $primary;
  line-height: 1.2em;
  transition: color $hover-duration $timing;

  svg {
    fill: $primary;
  }

  @include rh(1024) {
    &:hover {
      color: $white;

      svg {
        fill: $white;
      }
    }
  }

  @include d(992) {
    margin-right: 20px;
    margin-left: auto;
    color: $white;
    z-index: 1;

    svg {
      fill: $white;
    }
  }

  @include d(480) {
    span {
      display: none;
    }
  }
}

.link {
  position: relative;
  color: $primary;
  font-size: 14px;
  font-weight: 800;
  padding-right: 25px;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  svg {
    fill: $primary;
  }

  @include rh(1024) {
    &:hover {
      svg {
        transform: translateX(3px);
      }
    }
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 16px 32px;
  border-radius: 8px;
  text-transform: uppercase;
  position: relative;
  color: $white;
  transition: border-color $hover-duration $timing, background-color $hover-duration $timing, color $hover-duration $timing;

  @include rh(1024) {
    &:hover {
      // background-color: $white;
      // color: $primary;
      // border-color: $primary;

      svg {
        // fill: $primary;
        transform: translateX(3px);
      }
    }
  }

  // TODO: hovers
  svg {
    fill: $white;
    position: static;
    margin-left: 16px;
    width: 16px;
    height: 16px;
  }

  &_primary {
    background-color: $primary;
  }

  &_secondary {
    background-color: $blue;

    @include rh(1024) {
      &:hover {
        // background-color: $white;
        // color: $blue;
        // border-color: transparent;

        svg {
          // fill: $blue;
          transform: translateX(3px);
        }
      }
    }
  }

  &_sm {
    padding: 16px;

    @include rh(1024) {
      &:hover {
        background-color: transparent;
        border-color: $blue;
        color: $blue;
      }
    }
  }

  &_border {
    background-color: transparent;
    border-color: $blue;
    color: $blue;

    svg {
      position: static;
      margin-left: 0;
      margin-right: 16px;
      fill: $blue;
    }

    @include rh(1024) {
      &:hover {
        background-color: $blue;
        color: $white;

        svg {
          transform: translate(-3px, 0);
          fill: $white;
        }
      }

    }
  }
}