svg {
  transition: fill $hover-duration $timing;
}

.icon {
  &-user {
    width: 30px;
    height: 30px;
    margin-left: 16px;
  }

  &-arrow {
    position: absolute;
    top: 6px;
    right: 3px;
    width: 11px;
    height: 9px;
    transition: transform $hover-duration $timing;
  }

  &-social {
    width: 20px;
    height: 18px;
    fill: $blue;
  }

  &-slider {
    width: 32px;
    height: 16px;
    fill: $white;
    opacity: .4;
    transition: opacity $hover-duration $timing;
  }

  &-paperclip {
    width: 25px;
    height: 25px;
    fill: $primary;
  }

  &-list {
    width: 24px;
    height: 24px;
  }
}